@import "bootstrap-sprockets";
@import "bootstrap";
 
$laptop_s: 993px;
$gray-light: #777;

@mixin box_sizing {
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:         border-box;
}

// universal
section {
    overflow: hidden;
}

textarea{
    resize: vertical;
}

a { 
    cursor: pointer;
    text-decoration: none;
}

.center{
    text-align: center;
    h1 {
        margin-bottom: 10px;
    }
}


// typography

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom:30px;
    text-align:center;
}

h2{
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: $gray-light;
}

p {
    font-size: 1.1em;
    line-height: 1.7em;
}


// header

header {
    #logo {
        float: left;
        margin: 1px 0 0 20px;
        font-size: 2.3em;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: -1px;
        padding-top: 9px;
        font-weight: bold;
        text-decoration: none;
    }
    li:hover {
        background-color: #80cbc4;
        a{
            text-decoration: none;
        }
    }
}


// footer

footer{
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: $gray-light;
    a {
      color: #555;
      &:hover {
          color:#222;
      }
    }
    small {
      float: left;
    }
    ul {
      float: right;
      list-style: none;
      li {
        float: left;
        margin-left: 15px;
      }
    }
}


// sidebar

aside {
    .btn{
        margin-bottom: 15px;
    }
    section.user_info {
        margin-top: 20px;
    }
    section {
        padding: 10px 0;
        margin-top: 20px;
        &:first-child {
            border:0;
            padding-top:0;
        }
        span {
            display: block;
            margin-bottom: 3px;
            line-height: 1;
        }
        h1 {
            font-size: 1.3em;
            text-align: left;
            letter-spacing: -1px;
            margin-bottom: 3px;
            margin-top: 0px;
        }
    }
    .user-profile{
        margin-bottom: 15px;
    }
}

.sidebar-nav {
    a {
        color: #999;
        display: block;
        font-size: 1rem;
        padding: 10px 0 10px 10px;
        &:hover{
            background-color: rgba(0, 0, 0, .1);
        }
    }
    i {
        color: #000;
        margin-right: 10px;
        position: relative;
        top: 6px;
    }
}

.gravatar {
    float: left;
    margin: 0 10px 10px 0;
}

.gravatar_edit {
    margin-top: 15px;
}

.user_avatars {
    overflow: auto;
    margin-top: 10px;
    .gravatar {
        margin: 1px 1px;
    }
    a {
        padding: 0;
    }
}

.users.follow {
    padding: 0;
}

// sidenav
.sidenav-trigger {
    background-color: #26af9a;
    border-radius: 50%;
    bottom: 20px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
    display: none;
    height: 50px;
    padding: 10px;
    position: fixed;
    right: 20px;
    text-align: center;
    transition: .3s ease-in-out;
    width: 50px;
    i {
        color: #eee;
        font-size: 30px;    
    }
    &:hover{
        height: 55px;
        padding: 12px 0 13px;
        transform: rotate(360deg);
        width: 55px;
        i{
            
        }
    }
}

// forms

input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
    @include box_sizing;
}

input {
    height: auto !important;
}

#error_explanation {
    color: red;
    ul{
        color: red;
        margin: 0 0 30px 0;
    }
}

.field_with_errors {
    @extend .has-error;
    .form-control {
        color: $state-danger-text;
    }
}

#session_remember_me {
    width: auto;
    margin-left: 0;
}

// User index

.users{
    list-style: none;
    margin: 0;
    li {
        overflow: auto;
        padding: 10px 0;
        border-bottom: 1px solid $gray-lighter;
    }
}

// schools

.schools{
    list-style:none;
    padding: 0;
    > li {
        position: relative;
        padding: 10px;
        border-radius: 5px;
        border-top: 1px solid #e8e8e8;
        border-left: 1px solid #e8e8e8;
        border-right: 1px solid #e8e8e8;
        &:nth-of-type(1) {
        border-top: none;
        }
    }
    .school-header {
        display: flex;
        .detail{
            float: right;
        }
        .subtitle a {
            color: #333;
        }
        .name a {
            color: #333;
        }
    }
    .name {
        font-size: 1.2rem;
        font-weight: bold;
    }
    .user {
        font-size: 1.2rem;
        padding-top: 0;
    }
    .gravatar {
        margin-right: 10px;
    }
    .school-img {
       img {
           text-align: center;
           width: auto;
           height: auto;
           max-width: 100%;
           max-height: 100%;
       }
   }
   .school-contents {
        color: $gray-light;
        display: block;
    }
    .school-dropdown_trigger{
        width: 25px;
        height: 25px;
        margin-left: auto;
        border-radius: 50%;
        transition: background-color .3s;
        &:hover {
            background-color: rgba(0, 0, 0, .1);
        }
    }
    .school-contents {
        color: $gray-light;
        display: block;
    }
    .gravatar {
        margin-right: 10px;
    }
}

// schools(modal)

.modal{
  .modal-content{
    border: none;
    box-shadow: none;
    h4{
        text-align: center;
        margin: 0 0 20px;
    }
    label{
        margin: 0 0 8px;
    }
    input{
        padding: 1px;
        margin-bottom: 20px;
    }
  }
  .modal-footer{
    padding: 15px !important;
    p{
        text-align: left;
    }
    // .modal-btn{
    //     position: relative;
    //     right: 20px;
    //     bottom: 20px;
    // }
  }
}

// microposts

.microposts {
    list-style: none;
    padding: 0;
    li {
        padding: 10px 0;
        border-top: 1px solid #e8e8e8;
    }
    .user {
        margin-top: 5em;
        padding-top: 0;
    }
    .content {
        color: $gray-light;
        display: block;
        margin-left: 60px;
    }
    .gravatar {
        float: left;
        margin-right: 10px;
        margin-top: 5px;
    }
}

span.picture{
    margin-top: 10px;
    input {
        border: 0;
    }
}

// feed_items

.feed_items {
    list-style:none;
    padding: 0;
    > li {
        position: relative;
        padding: 10px;
        border-radius: 5px;
        border-top: 1px solid #e8e8e8;
        border-left: 1px solid #e8e8e8;
        border-right: 1px solid #e8e8e8;
        &:nth-of-type(1) {
        border-top: none;
        }
        &:hover{
            background-color: rgba(0, 0, 0, .05);
            cursor: pointer;
        }
    }
    .school-header {
        display: flex;
        text-decoration: none;
        > img {
            width: 50px;
            height: 50px;
            margin: 0 10px 10px 0;
        }
        .subtitle a {
            color: #333;
        }
        .name a {
            color: #333;
        }
        .detail {
            float: right;
        }
    }
    .name {
        font-size: 1.2rem;
        font-weight: bold;
    }
    .user {
        font-size: 1.2rem;
        padding-top: 0;
    }
    .gravatar {
        height: 20px;
        margin-bottom: 0;
        margin-right: 8px;
        position: relative;
        top: 4px;
        width: 20px;
    }
   .school-img {
       img {
           text-align: center;
           width: auto;
           height: auto;
           max-width: 100%;
           max-height: 100%;
       }
   }
    .school-dropdown_trigger{
        width: 25px;
        height: 25px;
        margin-left: auto;
        border-radius: 50%;
        transition: background-color .3s;
        &:hover {
            background-color: rgba(0, 0, 0, .1);
        }
    }
    .timestamp {
        color: #aaa;
        position: absolute;
        right: 45px;
        top: 10px;
        z-index: 1;
    }
}

.school-dropdown_content {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, .2);
    display: none;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 2;
    li {
        width: 120px;
        transition: background-color .3s;
        &.divider {
        min-height: 0;
        height: 1;
        padding: 0;
        }
    }
    a {
        display: block;
        padding: 10px;
        font-size: 1rem;
        color: rgba(0, 0, 0, .7);
        opacity: .6;
        &:hover {
            background-color: rgba(0, 0, 0, .05);
        }
        &.delete {
            color: red;
        }
    }
    i {
        position: relative;
        top: 4px;
        margin-right: 7px;
        font-size: 1.4rem;
        // color: rgba(0, 0, 0, .7);
        bottom: 0;
    }
}


// miscellaneous

.debug_dump{
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
    @include box_sizing;
}