// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// feed_items

.feed_items {
    list-style:none;
    padding: 0;
    > li {
        position: relative;
        padding: 10px;
        border-radius: 5px;
        border-top: 1px solid #e8e8e8;
        border-left: 1px solid #e8e8e8;
        border-right: 1px solid #e8e8e8;
        &:nth-of-type(1) {
        border-top: none;
        }
        &:hover{
            background-color: rgba(0, 0, 0, .05);
            cursor: pointer;
        }
    }
    .school-header {
        display: flex;
        margin-bottom: 10px;
        text-decoration: none;
        > img {
            border-radius: 50%;
            width: 50px;
            height: 50px;
            margin: 0 10px 10px 0;
        }
        .subtitle a {
            color: #333;
        }
        .name a {
            color: #333;
        }
        .detail {
            float: right;
        }
    }
    .name {
        font-size: 1.2rem;
        font-weight: bold;
    }
    .user {
        font-size: 1.2rem;
        padding-top: 0;
    }
    .gravatar {
        height: 20px;
        margin-bottom: 0;
        margin-right: 8px;
        position: relative;
        top: -2px;
        width: 20px;
    }
   .school-img {
       img {
           border-radius: 5px;
           height: auto;
           max-width: 100%;
           max-height: 100%;
           text-align: center;
           width: auto;
       }
   }
    .school-dropdown_trigger{
        width: 25px;
        height: 25px;
        margin-left: auto;
        border-radius: 50%;
        transition: background-color .3s;
        &:hover {
            background-color: rgba(0, 0, 0, .1);
        }
    }
    .timestamp {
        color: #aaa;
        position: absolute;
        right: 45px;
        top: 10px;
        z-index: 1;
    }
}